---

---

$sacramento: 'Sacramento', cursive;
$opensans:'Open Sans Condensed', sans-serif;
$lato: 'Lato', sans-serif;
$grey: #95AAA3;
$pink: #F5ABAB;
$lightpink: #FAC5C9;
$lightpink: #fff3f3;
$peachy: #ffa2a2;
$darkgreen: #73A493;
$limegreen: #BCDD9A;
$lightgreen: #DDF0C9;
$verylightgreen: #F0F7E9;
$lightestgreen: #F5FAF0;
$creamsicle: #ffd2b9;
$lightcreamsicle: #ffece2;
$darkpink: #fd7d7d;
$amazingpink: #CB0048;
$prettyamazingpink: #C24571;
$peach: #FFCDA4;
$darkpurple: #4c356d;
$richpurple: #5f2056;
$darklime: #89C489;
$lightblue: #d8fffc;
$orange: #e64e25;
$peachy: #ffd2b9;
$purp: #CB649E;
$gutter: 20px;
// Palette
$green: #B4DDA0;
$blue: #276565;

$ruby: #A94141;

  
  // ---------------------------------

// ---- General ----

.h2 {
  font-family: $sacramento;
  font-size: 5em;
  color: $pink;
}

// ---- Header ----

body, header.header {
  font-family: $opensans;
  color: $grey;
 
}

h1 {
  a {
    transition: all 0.3s ease-in-out;
    color:inherit;
    text-decoration: none;
    &:hover {
      color: $grey;
    }
  }
}

// .header-container {
//   height: 100vh;
//   backgroun
// }

.header {
  text-align: center;
  background: $lightestgreen;
  
   padding-bottom:30px;
  border-bottom: 1px dashed $pink;

  h1 {
    font-family: $sacramento;
    color: $pink;
    font-size: 4em;
    margin: 0;
    padding: 20px;

  }

  ul {
    padding-bottom:20px;
    li {
      display: inline;
      font-family: $opensans;
      list-style: none;
      font-size: 1.6em;
      color: $grey;
        
      a {
        text-decoration:none;
        color:inherit;
        padding: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
  
        &:hover {
          color: #475a54;
        }
        
      }
    }
  }
  svg {
    // width:35%;
    height: 50vh;
    &.bee-jump {
      -webkit-animation: bounce 1.5s 2s ease-in-out;
      animation: bounce 1.5s 2s ease-in-out;
    }

  }
  p {
    padding:30px 30px 0 30px;
    font-size:1.4em;
  }
 
}

// @media only screen and (max-width: 650px) {
//   .header {
//     svg {
//       width:80%;
//     }
//   }
// }



.nav-icon {
  text-align:left;
  height:40px;
  width:35px;
  position:relative;
  margin-left:30px;
  display:none;
  position:absolute;
  cursor:pointer;
  .span {
    height:5px;
    width:35px;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    border-radius: 1px;
    background:$grey;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    &::before,&::after {
      content: "";
      height:5px;
      width:100%;

      border-radius: 1px;
      background:$grey;
      position:absolute;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top:10px;
    }
    &::after {
      top:-10px;
    }
  }

  &.active .span::before {
    top:0;
    -webkit-transform: rotate(-45deg);
    transform:rotate(-45deg);
  }

  &.active .span::after {
    top:0;
    -webkit-transform: rotate(45deg);
    transform:rotate(45deg);
  }

  &.active .span {
    background: none;
  }
}


@media only screen and (max-width: 900px) {

.nav-mobile {
  display: block;
}

nav {
  .nav-icon {
    display:block; 
  }
  ul {
    display:none;
    li {
      a {
        display:block;
      }
    }
  }
}

}

@media only screen and (min-width: 900px) {
  header {
    nav {
    ul{
      display:block !important;
    }
   }

  }
  

}




// ---- Footer ---- 

footer.footer {
  background: $lightestgreen;
  text-align:center;
  border-top: 1px dashed $pink;
  .cta-container {
    padding-top:50px;
    h2 {
      color: $pink;
      font-size:3em;
      }
      a {
        color: inherit;
        text-decoration: none;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        &:hover  {
        color: $grey;
      }
    }
  }
  h2 {
    font-family:$opensans;
    font-size:1.5em;
    padding-top: 20px;
    span {
      color:$darkpink;
    }
  }



  ul.social-media {
    background: $lightestgreen;
    box-shadow: none;
    border-radius: 0;
    padding-top:20px;
    margin: 0;
    li {
      font-size: 1em;
      i {
        color:$grey;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}


// ---- First Section ----



.module {
  text-align:center;
  padding:30px;
}

.section1 {
     .grid {
        background: -webkit-linear-gradient(white, #9185a7);
     }

     .h2 {
      padding-top: 30px;
      color: #71608E;
     }

     .me {
      width:70%;
      padding: 30px 0px;
     }
     .module {
      &:first-of-type {
        padding:0;
      }
     }
     
}

.star {
  .st0 {
    fill: #ebe9ef;
}
  padding: 250px 80px;
  width: 95%;
  polygon {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  /* doesn't work as intended in Firefox 
   * % values are taken relative to the SVG, not the element
   * which actually seems to be correct */
   -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width:80%;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state:paused;
  }

  .whole-star {
    &:hover polygon {
       -webkit-animation-play-state: running;
       animation-play-state:running;
    }
  } 
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }


@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn); } }

// Media Queries

@media only screen and (max-width: 900px) {
  .star {
    padding: 50px 50px;
  }

  .module {
    padding:20px;
  }
}


// ---- Second Section ----

.section2 {
  .grid {
    // background: #f5c3ac url("../photos/lilcomputer.svg");
    // background-size:10%;
    background: #9185A7;

    .computer {
      margin:5em 0;
    }

    .h2 {
      color: $pink;
      margin-top:50px;
    }
  }
}

.social-media {

      padding:15px;
      margin-top:50px;

    li {
      list-style-type: none;
      display:inline-block;
      padding:10px;
      font-size: 2em;
      &:hover {
        cursor: pointer;
      }
        i {
          // background:white;
          color:white;
          padding:10px;
          border-radius:10px;
          font-size:2em;
          // -webkit-box-shadow: 9px 20px 41px -15px rgba(0,0,0,0.47);
          // -moz-box-shadow: 9px 20px 41px -15px rgba(0,0,0,0.47);
          // box-shadow: 9px 20px 41px -15px rgba(0,0,0,0.47); 
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;


          &.tada {
            -webkit-animation: tada 1s ease-in-out 1s;
            animation: tada 1s ease-in-out 1s;
          }   
          &:hover {
            color:$pink;
          }
        }
      }  
    }

// Media queries

@media only screen and (max-width: 900px) {
  .section2 {

  }
}

// ---- Third Section ----

.section3 {

  background:$lightgreen url("../photos/greenlines.svg");
  background-size: 10%;
  text-align: center;
  font-family: $opensans;
  overflow: hidden;
  
  p.click-more {
    font-size:1.5em;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
    color: $pink;
    &:hover {
      color: $grey;
    }
  }
  a {
    text-decoration: none;
    color:inherit;
    font-family: $lato;
  }
 
  .h2 {
 
    margin-top:30px;
    color: #54555c;
  }
}

.three-images {
  padding-left:20px;
  padding-top: 30px;
}

.image-container {
  

  width:30%;
  position:relative;
  float:left;
  width:33.33%;
  padding-right:20px;
  overflow: hidden;
 
  img {
    width:100%;
    -webkit-box-shadow: 13px 0px 40px -9px rgba(0,0,0,0.32);
    -moz-box-shadow: 13px 0px 40px -9px rgba(0,0,0,0.32);
    box-shadow: 13px 0px 40px -9px rgba(0,0,0,0.32);

  }
}
.thumb {
  font-size:40px;
  position:absolute;
  color: white;
  background:rgba(87, 119, 133, 0.8);
  width:80%;
  height:80%;
  bottom:0;
  left:50%;
  padding-top:30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform:translateX(-54%) translateY(100%) scale(0.1);
  transform:translateX(-54%) translateY(100%) scale(0.1);
}

.image-container:hover .thumb {
  -webkit-transform: translateY(0) translateX(-54%) scale(1);
  transform: translateY(0) translateX(-54%) scale(1);
}

@media only screen and (max-width: 900px) {
  .image-container {
    width: 100%;
  }
}



// ---- Fourth Section ----

.section4 {
  .grid {
    background: #ddf1f3 url("../photos/waterdrop.svg");
    background-size: 10%;
      h2 {
        color: #8B9AC4;
        text-align: center;
        padding-top: 30px;
        a {
          color:inherit;
          text-decoration: none;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: white;
            text-shadow: 2px 2px 7px rgba(150, 150, 150, 0.47);
            
          }
        } 
      } 
    .module {
      padding-top:0 auto;
    }
  }
}

.duck-module {
  text-align:right;
}

.pencil-module {
  text-align:left;
}

.duck {
  width: 70%;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out; }


.pencil {
  width:15%;
  -webkit-transform: rotate(80deg);
  transform:rotate(80deg);
  margin-left:115px;
  &.movePencil {
    -webkit-animation: movePencil 1s ease-in-out 0.5s forwards;
    animation: movePencil 1s ease-in-out 0.5s forwards;
  }
  &.smallMovePencil {
    -webkit-animation: smallMovePencil 1s ease-in-out 0.5s forwards;
    animation: smallMovePencil 1s ease-in-out 0.5s forwards;
  }
  
}

@-webkit-keyframes movePencil {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  20% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  30% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  40% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg); }
  50% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  70% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  80% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg); }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); } }

@keyframes movePencil {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  20% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  30% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  40% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg); }
  50% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  60% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  70% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); }
  80% {
    -webkit-transform: rotate(70deg);
            transform: rotate(70deg); }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg); } }
@-webkit-keyframes smallMovePencil {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  20% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg); }
  30% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  40% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  60% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg); }
  70% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  80% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }
@keyframes smallMovePencil {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  20% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg); }
  30% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  40% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  60% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg); }
  70% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  80% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@media only screen and (max-width: 900px) {
  .duck-module {
    text-align: center;
    .duck {
    width:80%;
   }
  }

  .pencil-module {
    text-align: center;
    .pencil {
      margin:0;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      // &.smallMovePencil {
      //   animation: smallMovePencil 1s ease-in-out 0.5s forwards;
      // }
    }
  }
}



// ---- Fifth Section ----


.section5 {

  text-align:center;
  display:block;
  position:relative;
   a {
      text-decoration: none;
      color:inherit;
    }
  .h2 {
    padding-top: 50px;
    color: #5C5D5D;

  }

  .scroll {
    width:70%;
      &.tada {
         -webkit-animation: tada 1s ease-in-out 1s;
         animation: tada 1s ease-in-out 1s;
     }
  }
  .blog {
    width: 100%;
    text-align: left;
    ul {
      margin-bottom:0;
      li {
      margin-top: 30px;
      }
    }
    
  }
}


.section5:after {
  content: "";
  background:$lightgreen url(../photos/words.jpg);
  opacity: 0.04;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=04)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
// ---- Sixth Section ----


.section6 {
  text-align:center;
  width:100%;
  display:block;
  position:relative;
  // background: $richpurple url(../photos/purplestar.svg);
  // background-size: 10%;
  background: $pink;
  .h2 {
    padding-top: 50px;
    color:white;
  }
  .glasses {
    margin: 50px auto;
    width:50%;
  }
}  



// ---- CTA Section ----

.cta-section {
  background:$lightgreen url("../photos/greenlines.svg");
  background-size: 10%;
  .grid {
    .module {
      padding: 100px;
    
    h2 {
      color: $pink;
      font-family: $opensans;
      font-size: 4em;

      &:first-of-type {
        padding-bottom: 100px;
      }
    a {
      text-decoration: none;
      color:inherit;
      border: 4px solid $pink;
      padding:20px;
      background: #fffafa;
      border-radius: 10px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fffafa;
        background: $pink;
        border-color: #fffafa;
      }
    }
  }
  }
  
  }
  
} 




// Media Queries

@media only screen and (max-width: 900px) {
  .cta-section {
    .grid {
      .module {
      padding: 100px 0;
    }
  }
    
  }
 
}


// ---- Seventh Section ----

.section7 {
  margin:100px auto;
  font-family:$opensans;
  font-size: 3em;
  text-align:center;
  .bee {
    width:30%;
    -webkit-transform: rotate(50deg);
    transform:rotate(50deg);
    margin-top:2em;
  }
}

@media only screen and (max-width: 650px) {
  .section7 {
    .bee {
      width: 60%;
    }
  }
}




// ---- ABOUT CSS ----

.about-section1, .about-section2, .about-section3 {
  text-align:center;
  color:white;
  font-family: $lato;
  
  h2 {
    font-family: $opensans;
    font-weight: 800;
    font-size:15vh;
    margin-top:1.3em;
    margin-bottom:0.3em;
  }
  p {
    font-size: 1.6em;
    line-height: 30px;
    padding:0 20px;
  }

  [class*='col-1'] {
  padding-right: 0;
  }
}

.my-pic, .rainbow-pitt, .flower {
  width:100%;
}


.about-section4 {
  text-align:center;
  padding:50px 0;

   .about-banner {
    padding:20px;
    width:100%;
    height:200px;
    position:relative;

      h2 {
        font-family: $sacramento;
        font-size:3em;
      }

      a.button {
        margin-top:1em;
        background:$pink;
        color:white;
        padding:15px;
        border:none;
        border-radius:5px;
        box-shadow: 0px 5px 10px #888888;
        font-family:$opensans;
        font-size:1.5em;
        text-decoration: none;
        display:inline-block;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover {
          background:$green;
        }
      }
  }
   .about-banner:after {
    content: "";
    background: $lightestgreen url("../photos/bee.svg") no-repeat fixed right;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  .banner-container {
  margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  h2 {
    padding-right:200px;
  }
}
}



@media only screen and (max-height: 900px) {
  .about-section1, .about-section2, .about-section3 {
    .module {
      padding: 100px 0px;
    }
  }
}



// ---- Blog ----

.blog {
  width:50%;
  margin: 0 auto;

  ul {
    margin-bottom:150px;
    li {
       margin-top:150px;
       font-family: $lato;
       color: $pink;
      .date {
        color: $grey;
        margin-bottom: 20px;
        font-size: 1.3em;
        margin-right:3.3em;
      } 
      a {
        text-decoration: none;
        color: $pink;
        font-family: $sacramento;
        font-size: 3em;
      }
    }
  }

  p {
    color: #5a756c;
    font-size: 1.5em;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top:17px;
  }
}

.post {
  width:60%;
  margin: 8em auto;
  font-family: $lato;
  line-height: 30px;
  letter-spacing: 0.2px;
  .date {
    color: $grey;
    margin-bottom: 30px;
    font-size: 1.3em;
    margin-right:3.3em;
    text-align: left;
  }
  h2 {
    font-size:4em;
    text-align:left;
    margin-bottom:30px;
    font-family: $sacramento;
    color: $pink;
  }
  p {
    color:#5a756c;
    font-size: 1.5em;
    margin-bottom:30px;
    &:first-of-type {
      padding-top: 30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .blog {
    width: 90%;
  }

  .post {
    width: 90%
  }
}

// ---- Contact ----

.text-module {
  color:white;
  font-family:$lato;
  h2 {
    font-size:10em;
    text-transform: uppercase;
    font-family: $opensans;
     
  }
   p {
      margin-top:20px;
      font-size:2em;
    }

    a {
      text-decoration: none;
      color: $blue;
    }
}



.form-module {
  font-family: $lato;
  text-align: left;
  background: $creamsicle;
  font-size: 1.5em;

    form {
    color:white;
    width:70%;
    margin:0 auto;
    }
    input, textarea {
    width:100%;
    padding:5px;
    border:1px solid grey;
    border-radius:5px;
    margin:10px 0;
    box-shadow: none;
    font-size: 15px;
    box-shadow: none;
    font-family: $lato;
  }
  input[type="text"], input[type="email"] {   
    height:40px;  
  }
  textarea {
    height:150px;
  }
  input[type="submit"] {
    background:$lightgreen;
    color:$grey;
    padding:10px;
    border:none;
    border-radius:5px;
    box-shadow: 0px 5px 10px #888888;
    font-family:$opensans;
    font-size:1.5em;
    cursor: pointer;
  }
}

  label {
    text-align: left;
  }

  .word {
    color: $peach;
    font-size: 1.5em;

  }

  .hire {
    font-family: $lato;
    text-align: center;
    color:white;
    .grid {
      width:100%;
      background: $blue;
      padding: 20px;
      h2 {
        margin: 50px auto;
        font-size: 2em;
        text-align:center;
        
        &:first-of-type {
          font-style: italic;
        }
      }
      ul.job-info {
        text-align: left;
        margin-left: 100px;
        li {
          font-size: 1.3em;
          line-height: 130%;
          &:last-of-type {
            margin-top: 20px;
          }
        }
      }
      p {
        margin-top: 50px;
        font-size: 1.3em;

      }
      a {
        color:$peach;
        text-decoration: none;
      }
    }
  }

@media only screen and (max-width: 900px) {
  .hire {
    .grid {
      ul.job-info {
        margin-left: 40px;
      }
    }
  }
  .text-module {
    padding: 100px 5px;
  }
  .form-module  form {
    width: 90%;
  }
 
}

// ---- Flexbox ----

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  [class*='col-1']:nth-child(1) {
  background: $darkpink;
  -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
}
[class*='col-1']:nth-child(2) {
  background: $creamsicle;
  -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

}

@media only screen and (max-width: 900px) {
  .flexbox {
    display: block;
  }

  .about-section1, .about-section2, .about-section3 {
    h2 {
      margin: 0;
      padding-top: 50px;
    }
    p {
      padding: 50px 10px;
    }
  }
}



// ---- Doodles ----

.doodles-section {
  .flexbox {
      [class*='col-1']:nth-child(1) {
          padding:30px;
          background: $blue;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0;
        }
        [class*='col-1']:nth-child(2) {
           background: $blue;
           -webkit-box-ordinal-group: 2;
           -ms-flex-order: 1;
           order: 1;
        }
     .doodle-text-module {
        font-family: $lato;
        text-align: center;
        color:white;
        margin-top: 10em;

        h2 {
          font-family:$opensans;
          font-size: 8em;
          text-transform: uppercase;
        }
        p {
          font-size: 2em;
          margin-top: 20px;
        }
      }
      .me-module {
        position:relative;
        height:100vh;
        .doodle-me {
        width:80%;
        -webkit-transform: rotate(320deg);
        transform: rotate(320deg);
        position:absolute;
        right:-900px;
        overflow: hidden;
        &.move-me {
          -webkit-animation: moveMe 1s ease-in-out 1s forwards;
          animation: moveMe 1s ease-in-out 1s forwards;
        }
        
      }
    }
  }
}

.desc {
  font-family: $opensans;
  margin-bottom:20px;
  color: white;
  font-size:2em;
}


@-webkit-keyframes moveMe {
  100% {
    right: -190px; } }

@keyframes moveMe {
  100% {
    right: -190px; } }

.doodles-section2 {
  svg {
    width:90%;
  }
  background: $creamsicle;
  img {
    margin-top:2em;
    width: 90%;
  }
  .col-1-2:first-of-type{
    background: #FDB77D;
  }
}

.doodles-section3 {
  background: $purp;
  .col-1-2:first-of-type{
    background: #AF3F7E;
    img {
      padding-top:5.5em;
    }
  }
}

.doodle-pencil {
  width:20%;
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
}


.doodles-section4 {
  background: #FD7D7D;
  .module {
    img {
      width:70%;
    }
  }
  .col-1-2:first-of-type{
    background: #FFA4A4;
   
  }
}

@media only screen and (max-width: 900px) {
  .doodles-section .flexbox .doodle-text-module  {
    h2 {
    font-size: 5.5em;
  }
  p {
    font-size: 1.6em;
  }
}
}
// --- Portfolio ----

.port {
    background: rgba(84,85,92,0.5);
    z-index: -2;
    

}

.port:after {
  content:"";
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.dog-website { 
  
  height:50em;
  position:relative;

  a {
    z-index: 1;
  }
}

.dog-website:after {
  content: "";
  background: url("{{site.url}}/../photos/yorkie.jpg") no-repeat fixed center;
  opacity: 0.3;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.music-website {
  
  height:50em;
  position:relative;
}

.music-website:after {
  content: "";
  background: url("{{site.url}}/../photos/sunset-hair.jpg") no-repeat fixed center;
  opacity: 0.3;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.artist-website {
  position:relative;
  height:50em;
}

.artist-website:after {
  content: "";
  background: url("{{site.url}}/../photos/tan-people.png") no-repeat fixed center;
  opacity: 0.3;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

.js-game {
  position: relative;
  height:50em;
}

.js-game:after {
  content: "";
  background: url("{{site.url}}/../photos/js-hangman.svg") no-repeat fixed center;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

.port1, .port2, .port3, .port4, {
  position:relative;
  h2 {
    font-size:15vh;
    text-transform: uppercase;
    top:50%;
    border-bottom: 5px solid white;
    font-family: $opensans;
    
  }
  h2, p {
    color:white;
    left:50%;
    position:absolute;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align:center;
  }

  p {
    top:70%;
    font-family: $lato;
    font-size:1.5em;
    margin-top:1em;

  }
}

.port5 {
  margin-top:100px;
  text-align: center;
  h2 {
    font-size:3em;
    font-family: $sacramento;
    color:$grey;
  }

  p { 
    margin: 100px auto;
    font-family: $opensans;
    font-size:1.5em;
    color:$pink;
  }
}



// ---- Grid ----

.grid {
  width: 100%;
  // padding-left: $gutter;
  overflow: hidden;
}

[class*='col-1'] {
  float:left;
  // padding-right: $gutter;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-4 {
  width: 25%;
}

.col-1-3 {
  width: 33.33%
}

.col-1-2 {
  width: 50%;
}

.col-2-3 {
  width: 66.66%;
}

.col-3-4 {
  width: 75%;
}

@media only screen and (max-width: 900px) {
  .col-1-2 {
    width: 100%;
  }
}

// .grid {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex; }

// .col-1-2, .col-1 {
//   -webkit-box-flex: 1;
//       -ms-flex: 1;
//           flex: 1; }



// @media only screen and (max-width: 900px) {
//   .grid {
//     display:block;
//   }
// }



@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }