---

---

$sacramento: 'Sacramento', cursive;
$opensans:'Open Sans Condensed', sans-serif;
$grey: #95AAA3;
$pink: #F5ABAB;
$lightpink: #FAC5C9;
$lightpink: #fff3f3;
$darkgreen: #73A493;
$limegreen: #BCDD9A;
$lightgreen: #DDF0C9;
$verylightgreen: #F0F7E9;
$lightestgreen: #F5FAF0;
$creamsicle: #ffd2b9;
$darkpink: #fd7d7d;
$gutter: 20px;
  
  // ---------------------------------

// ---- General ----

.h2 {
  font-family: $sacramento;
  font-size: 5em;
  color: $pink;
}

// ---- Header ----

body, header.header {
  font-family: $opensans;
  color: $grey;
 
}

header.header {
  text-align: center;
  background: $lightestgreen;
  padding-bottom:15px;
  border-bottom: 1px dashed $pink;

  
  h1 {
    font-family: $sacramento;
    color: $pink;
    font-size: 3em;
    margin: 0;
    padding: 20px;
  }

  ul {
    padding-bottom:20px;
  }
  
  
  li, a {
    font-family: $opensans;
    list-style: none;
    text-decoration:none;
    display: inline;
    padding: 10px;
    font-size: 1.4em;
    color: $grey;
    
  }
  
  li:hover {
    background: $verylightgreen;
  }

  svg {
    animation: bounce 1.5s 1s ease-in-out;
  }


p {
  padding-top:20px;
  font-size:1.2em;
}
 
}

// ---- Footer ---- 

footer {
  background: $lightestgreen;
  height:300px;
  text-align:center;
  .cta-container {
    padding-top: 20px;
  }
  h2 {
    font-family:$opensans;
    font-size:1.5em;
    padding-top:20px;
    margin-top:20px;
  }

  .social-media li {
    margin-top:20px;
  }

}


// ---- First Section ----

.page-wrap {
  padding:100px 0;
}

.module {

  text-align:center;
  padding:30px;
}

.section1 {
     .grid {
      background: $pink; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(white, $creamsicle, $pink, white); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(white, $creamsicle, $pink, white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(white, $creamsicle, $pink, white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(white, $creamsicle, $pink, white); /* Standard syntax */
     }
     
}

.star {
    width:80%;
    margin: 4.5em auto;
    transition: all 0.3s ease-in-out;
      }
.star:hover {
  transform:scale(1.2) rotate(5deg);
  cursor:pointer;
      }  

// ---- Second Section ----

.section2 {
  .grid {
    margin-top:300px;
    background: $pink; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(white, $lightgreen, white); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(white, $lightgreen, white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(white, $lightgreen, white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(white, $lightgreen, white); /* Standard syntax */

  }


}

.computer {
  margin:5em 0;
}

.social-media {
    li {
      margin-top:100px;
      list-style-type: none;
      display:inline-block;
      padding:10px;
      font-size:2em;
    }

    .fa {
      background:white;
      padding:10px;
      border-radius:10px;
      box-shadow: 0px 5px 0px #888888;
      transition:all ;
    }

    .fa-twitter {

    }

    .fa-github {

    }

    .fa-dribbble {

    }

    .fa-linkedin {

    }


}

// ---- Third Section ----

.section3 {
  background:$lightgreen;
  .h2 {
    margin:200px auto;
  }

  ul {
    text-align:center;

    li {
      display:inline-block;
      padding-left:50px;
    }
  }
}

// ---- Fourth Section ----

.section4 {
  .grid {
    margin-top:300px;
   
  }
}

.pencil {
  width:20%;
  transform:rotate(135deg);
  
}

// ---- Fifth Section ----


.section5 {
  margin-top:300px;
  text-align:center;
  background:$lightgreen;
}

// ---- Sixth Section ----


.section6 {
  margin-top:300px;
  text-align:center;
  background: $lightgreen;
  .glasses {
    margin: 50px auto;
    width:80%;
  }
  
  }


.cta {
    font-family: $opensans;
    font-size:3em;
    text-decoration: none;
    color:$pink;
    h2 {
      border:5px solid $pink;
      margin: 20px auto;
      width:35%;
      padding:0;
      transition: all 0.3s ease-in-out; 
    }
    h2:hover {
      color:white;
      border:5px solid white;
    }
  }

// ---- Seventh Section ----

.section7 {
  margin-top:300px;
  font-family:$opensans;
  font-size: 3em;
  text-align:center;
  .bee {
    width:30%;
    transform:rotate(50deg);
  }
}


// ---- ABOUT CSS ----

.about-section1, .about-section2, .about-section3 {
  text-align:center;
  color:white;
  font-family: $opensans;
  
  h2 {

    font-weight: 800;
    font-size:15vh;
    margin-top:1.3em;
    margin-bottom:0.3em;
  }
  p {
    font-size: 2em;
    padding:0 20px;
  }

  [class*='col-1'] {
  padding-right: 0;
  }
}

.my-pic, .rainbow-pitt, .flower {
  width:100%;
}







.about-section4 {
  text-align:center;
  padding:50px 0;
}

.about-banner {
  padding:20px;
  width:100%;
  height:200px;
  position:relative;
}

.about-banner:after {
  content: "";
  background: $lightestgreen url("../photos/bee.svg") no-repeat fixed right;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.banner-container {
  margin-top:3em;
  display:flex;
  align-items: center;
  justify-content: center;

  h2 {
    padding-right:200px;
  }
}

// ---- Blog ----

.blog {
  a {
    text-decoration: none;
    color: $pink;
    font-family: $sacramento;
    font-size: 3em;
  }
  li {
    font-family: $opensans;
    color: $pink;
  }
}

// ---- Contact ----

.contact {

  label {
    text-align: left;

  }
}

.form-module {
  font-family: $opensans;
  text-align: left;
  form {
    width:50%;
    margin:0 auto;
  }

  input, textarea {
    width:100%;
    padding:5px;
    border:1px solid grey;
    border-radius:5px;
    margin:10px 0;
    box-shadow: none;
    font-size: 15px;
    box-shadow: none;
    font-family: $opensans;

  }

  input[type="text"], input[type="email"] {
    
    height:40px;
  
   
  }

  textarea {
    height:150px;
  }
}


// ---- Flexbox ----

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;

  [class*='col-1']:nth-child(1) {
  background: $darkpink;
  order: 0;
}
[class*='col-1']:nth-child(2) {
  background: $creamsicle;
  order: 1;
}

}


// ---- Doodles ----

.doodles-section {
 
  .module {
    position:relative;
    height:100vh;
  }
  .me {
    width:80%;
    transform: rotate(320deg);
    position:absolute;
    right:-900px;
    animation: moveMe 1s ease-in-out 1s forwards;

  }


}

@keyframes moveMe {
  100% {right:-190px}
}

// --- Portfolio ----

.port {
    background:grey;
    z-index: -2;
    position:relative;
}

.port:after {
  content:"";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.dog-website {
  
  height:50em;
  position:relative;
}

.dog-website:after {
  content: "";
  background: url("{{site.url}}/../photos/yorkie.jpg") no-repeat fixed center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.music-website {
  
  height:50em;
  position:relative;
}

.music-website:after {
  content: "";
  background: url("{{site.url}}/../photos/sunset-hair.jpg") no-repeat fixed center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.artist-website {
  position:relative;
  height:50em;
}

.artist-website:after {
  content: "";
  background: url("{{site.url}}/../photos/tan-people.png") no-repeat fixed center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

.js-game {
  position: relative;
  height:50em;
}

.js-game:after {
  content: "";
  background: url("http://www.nekeran.com/i/dog-desktop-background-wallpaper.jpg") no-repeat fixed center;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

.port1, .port2, .port3, .port4, {
  position:relative;
  h2 {
    font-size:15vh;
    text-transform: uppercase;
    top:50%;
    border-bottom: 5px solid white;
    
  }
  h2, p {
    font-family: $opensans;
    color:white;
    left:50%;
    position:absolute;
    transform: translateY(-50%) translateX(-50%);
    text-align:center;
  }

  p {
    top:70%;

  }
}

.port5 {
  margin-top:100px;
  text-align: center;

  p { 
    margin: 100px auto;
    font-family: $opensans;
    font-size:2em;
  }
}


// ---- Grid ----

.grid {
  width: 100%;
  // padding-left: $gutter;
  overflow: hidden;
}

[class*='col-1'] {
  float:left;
  // padding-right: $gutter;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-4 {
  width: 25%;
}

.col-1-3 {
  width: 33.33%
}

.col-1-2 {
  width: 50%;
}

.col-2-3 {
  width: 66.66%;
}

.col-3-4 {
  width: 75%;
}




@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}