/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#234d20+0,77ab59+54,77ab59+54,f0f7da+100 */


@mixin green-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$teal+0,87e294+100 */
background: $teal; /* Old browsers */
background: -moz-linear-gradient(-45deg, $teal 0%, $seafoam 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, $teal 0%,$seafoam 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, $teal 0%,$seafoam 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b597', endColorstr='#87e294',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
