---
layout: default
---

<!-- Section 1 -->

<div class="page-wrap">
	<section class="section1">
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					<h2 class="h2">I'm a girl...</h2>
					<p class="star">
					{% include star.html %}
					</p>
				

				</div>
			</div>
			<div class="col-1-2">
				<div class="module">
					<img src="">
				
					{% include me.html %}
					<p>Das me...</p>
				</div>
			</div>
		</div>
	</section>

	<!--  Section 2   -->

	<section class="section2">
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					{% include computer.html %}
				</div>
			</div>
			<div class="col-1-2">
				<div class="module">
					<h2 class="h2">... on the internet...</h2>
					<ul class="social-media">
						<li><i class="fa fa-twitter" aria-hidden="true"></i>
	</li>
						<li><i class="fa fa-github" aria-hidden="true"></i>
	</li>
						<li><i class="fa fa-dribbble" aria-hidden="true"></i></li>
						<li><i class="fa fa-linkedin" aria-hidden="true"></i>
	</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Section 3 -->

	<section class="section3">	
		<h2 class="h2">... who makes websites...</h2>
	<ul>	
		<li>Website 1</li>
		<li>Website 2</li>
		<li>Website 3</li>
	</ul>
	</section>

	<!-- Section 4 -->

	<section class="section4">
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					<h2 class="h2">... doodles...</h2>
					<img src=" " />
				</div>
				
			</div>
			<div class="col-1-2">
				<div class="module">
					{% include pencil.html %}
				</div>
			</div>
		</div>
	</section>


<!-- Section 5  -->



</div>




  
