---
layout: default
---

<!-- Section 1 -->

<div class="page-wrap">
	<section class="section1">
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					<h2 class="h2">I'm a girl...</h2>
					
					<a href="#">
					{% include star.html %}
					</a>
					
				

				</div>
			</div>
			<div class="col-1-2">
				<div class="module">
					<img src="">
				
					{% include me.html %}
				</div>
			</div>
		</div>
	</section>

	<!--  Section 2   -->

	<section class="section2">
		<div class="grid">
			<div class="col-1-2">
			<div class="module">
					<h2 class="h2 scroll-to">... on the internet...</h2>
					<ul class="social-media">
						<li><i class="fa fa-twitter" aria-hidden="true"></i>
	</li>
						<li><i class="fa fa-github" aria-hidden="true"></i>
	</li>
						<li><i class="fa fa-dribbble" aria-hidden="true"></i></li>
						<li><i class="fa fa-linkedin" aria-hidden="true"></i>
	</li>
					</ul>
				</div>
				
			</div>
			<div class="col-1-2">
			<div class="module">
					<img class="computer" src="{{site.url}}/photos/computer.svg">
				</div>
			</div>
		</div>
	</section>

	<!-- Section 3 -->

	<section class="section3">	
		<h2 class="h2">... who makes websites...</h2>
		<p class="click-more"><a href="#">Click here to see more <i class="fa fa-caret-right" aria-hidden="true"></i> </a></p>
		
			<div class="three-images">
				<a href="#">
					<div class="image-container">
					<p class="doge-thumb thumb">Dog Walking Website 
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/dog-website.png" />
				</div>	
				</a>
				
				<a href="#">
					<div class="image-container">
					<p class="music-thumb thumb">Music Portfolio <br />
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/music-website.png"" />
				</div>
				</a>
				
				<a href="#">
					<div class="image-container">
					<p class="chely-thumb thumb">Artist Portfolio  <br />
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/chelychee.png" />
				</div>
				</a>
				
			</div>
			
	
		
	</section>

	<!-- Section 4 -->

	<section class="section4">
		<div class="grid">
			<div class="col-1-2">
				<div class="module duck-module">
					<h2 class="h2">... doodles...</h2>
					<img class="duck" src="{{site.url}}/photos/duck.svg" />
				</div>
				
			</div>
			<div class="col-1-2">
				<div class="module pencil-module">
					{% include pencil.html %}
				</div>
			</div>
		</div>
	</section>


<!-- Section 5  -->
	<section class="section5">
		<h2 class="h2">... and writes stuff.</h2>
		<img src="" />
	</section>


<!-- Section 6 -->

	<section class="section6">
		<h2 class="h2">So if you like what you see...</h2>
		{% include glasses.html %}

		<a class="cta" href=""><h2>CONTACT ME</h2></a>
		<a class="cta" href=""><h2>HIRE ME</h2></a>

	</section>

	<section class="section7">
		<h2>I'd love to hear from you!</h2>
		{% include bee.html %}
	</section>

</div>




  
