---
layout: default
---

<!-- Section 1 -->
<h1>hello</h1>
<div class="page-wrap">
	<section class="section1">
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					<h2 class="h2">I'm a girl...</h2>
					
						{% include me.html %}

				</div>
			</div>
			<div class="col-1-2">
				<div class="module">
					
					
					<a href="{{site.url}}/about">
					{% include star.html %}
					</a>
					
					

				</div>
			</div>
		</div>
	</section>

	<!--  Section 2   -->

	<section class="section2">
		<div class="grid">
			<div class="col-1-2">
			<div class="module">
					<h2 class="h2 scroll-to">... on the internet...</h2>
					<ul class="social-media">
						<a href="https://www.twitter.com/kalenenc"><li><i class="moving-icons fa fa-twitter" aria-hidden="true"></i></a>
	</li>
						<a href="https://github.com/kalenenc"><li><i class="moving-icons fa fa-github" aria-hidden="true"></i></a>
	</li>
						
						<li><i class="moving-icons fa fa-linkedin" aria-hidden="true"></i>
	</li>
					</ul>
				</div>
				
			</div>
			<div class="col-1-2">
			<div class="module">
					<img class="computer" src="{{site.url}}/photos/computer.svg">
				</div>
			</div>
		</div>
	</section>

	<!-- Section 3 -->

	<section class="section3">	
		<h2 class="h2">... who makes websites...</h2>
		<p class="click-more"><a href="{{site.url}}/portfolio">Click here to see more <i class="fa fa-caret-right" aria-hidden="true"></i> </a></p>
		
			<div class="three-images">
				<a href="/dog-website/">
					<div class="image-container">
					<p class="doge-thumb thumb">Dog Walking Website 
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/dog-website.png" />
				</div>	
				</a>
				
				<a href="/music-website/">
					<div class="image-container">
					<p class="music-thumb thumb">Music Portfolio <br />
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/music-website.png"" />
				</div>
				</a>
				
				<a href=/chelychee/>
					<div class="image-container">
					<p class="chely-thumb thumb">Artist Portfolio  <br />
					<i class="fa fa-caret-right" aria-hidden="true"></i>
					</p>
					<img src="{{site.url}}/photos/chelychee.png" />
				</div>
				</a>
				
			</div>
			
	
		
	</section>

	<!-- Section 4 -->

	<section class="section4">
		<div class="grid">
			<div class="col-1-2">
				<div class="module duck-module">
					<h2 class="h2"><a href="{{site.url}}/doodles">...doodles...
					</a></h2>
					<a href="{{site.url}}/doodles">
						<img class="duck" src="{{site.url}}/photos/duck.svg" />
					</a>
				</div>
				
			</div>
			<div class="col-1-2">
				<div class="module pencil-module">
					{% include pencil.html %}
				</div>
			</div>
		</div>
	</section>


<!-- Section 5  -->
	<section class="section5">
		<a href="{{site.url}}/blog"><h2 class="h2">... and writes stuff.</h2></a>
		<div class="grid">
			<div class="col-1-2">
				<div class="module">
					<img class="scroll" src="{{site.url}}/photos/scroll.svg" />
				</div>
			</div>
			<div class="col-1-2">
				<div class="module">
					<div class="blog">
						<ul>
  							{% for post in site.posts limit: 1 %}
   							 <li>
    							<div class="date">{{ post.date | date: '%B %d, %Y' }}</div>
     								<a href="{{site.url}}/{{post.url}}">{{ post.title }}</a>
     							<div>
      							<p>
      							{{ post.excerpt }}
      		<!-- {{ post.content | strip_html | truncatewords:75}} -->
      							</p>
      				</div>
      			</div>
    						</li>
  							{% endfor %}
						</ul>
					</div>

			</div>
		</div>
	</section>


<!-- Section 6 -->

<section class="section6">
	<div class="grid">
		<div class="col-1-2">
			<h2 class="h2">So if you like what you see...</h2>
			{% include glasses.html %}
		</div>	
	</div>
</section>

<!-- CTA Section -->

<section class="cta-section">
	<div class="grid">
		<div class="col-1-2">
			<div class="module">
				<h2><a class="cta" href="{{site.url}}/contact">CONTACT ME</a></h2>
				<h2><a class="cta" href="{{site.url}}/contact">HIRE ME</a></h2>
			</div>
				
			</div>
		</div>
	</div>
</section>

<!-- Section 7 -->

<section class="section7">
	<h2>I'd love to hear from you!</h2>
	{% include bee.html %}
</section>
</div>




  
