<section class="l-container about" id="about">

  <div class="l-short">
    <img src="images/me.png" alt="me">
  </div>
    <div class="l-long">
      <h2>About me</h2>

      <p>Hi there! My name is Kalene and I'm a web developer living in Pittsburgh. My focus is on the frontend. I'm fairly new to this field and am always passionate about increasing my knowledge base in creative ways.</p>

      <p>I am self taught and come from the healthcare background. I officially made the switch to web development in early 2016 when I first started to learn to code. I've been working "professionally" in the field for about a year.

      <p>I attended Academy Pittsburgh coding bootcamp and am an organizer for Girl Develop It Pittsburgh where I try my best to make classes and meet ups accessible to all women and nonbinary individuals who are interested in learning to code. </p>

      <p>My interests include all things JavaScript (I fux with Angular at my day job), CSS architecture, accessibility, performance, animation, SVG (you like my crow drawing? I'm pretty proud of it, not gonna lie), and just whatever piques my interest from day-to-day.</p>

      <p>I write blog posts, though not nearly as much as I'd like. I'm working on remedying that. 🙃</p>

      <p>If you are interested in working with me or care to reach out to me with any questions about my journey, blog posts, or just want to chat, please <a href="mailto:kalenenc@gmail.com">contact me</a> or reach out on Twitter or LinkedIn.
      </p>

      <p>Thanks for stopping by!</p>

    </div>


</section>
