<section class=" about" id="about">

  <div class="about__image">
    <img src="images/me.png" alt="me">
  </div>

  <div class="about__content">
    <h2>About me</h2>

    <p>Hi there! My name is Kalene and I'm a web developer. My focus is on the frontend. I'm fairly new to this field and am always passionate about increasing my knowledge base in creative ways.</p>


    <p>If you are interested in working with me or care to reach out to me with any questions about my journey, blog posts, or just want to chat, please or reach out on Twitter or LinkedIn.
    </p>

    <p>Thanks for stopping by!</p>
  </div>





</section>
