
<svg class="computer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 248 171" enable-background="new 0 0 248 171" xml:space="preserve">
  <g id="Inspo"/>
  <g id="Layer_2">
    <path fill="#B1B4C5" d="M229 136H19c-10.5 0-19-8.5-19-19V19C0 8.5 8.5 0 19 0h210c10.5 0 19 8.5 19 19v98C248 127.5 239.5 136 229 136z"/>
    <path fill="#81818A" d="M216.5 120h-185c-6.4 0-11.5-5.1-11.5-11.5v-81C20 21.1 25.1 16 31.5 16h185c6.4 0 11.5 5.1 11.5 11.5v81C228 114.9 222.9 120 216.5 120z"/>
    <circle fill="#FFFFFF" cx="124" cy="128.3" r="4.2"/>
    <rect x="115.7" y="136" fill="#B1B4C5" width="16.7" height="14.3"/>
    <polygon fill="#B1B4C5" points="115.7 150.3 73.7 150.3 73.7 171 174.3 171 174.3 150.3 "/>
    <rect x="47" y="43" fill="#54555C" width="46" height="37.4"/>
    <text transform="matrix(1 0 0 1 50 52.75)" fill="#FFFFFF" font-family="'MyriadPro-Regular'" font-size="12">
      >_
    </text>
    <rect x="118.3" y="24.7" fill="#54555C" width="87.8" height="87.8"/>
    <rect x="118.3" y="24.7" fill="#D8CCD1" width="87.8" height="9.3"/>
    <text transform="matrix(1.5285 0 0 1 119.833 31.1011)" fill="#54555C" font-family="'Noteworthy-Light'" font-size="5.58">
      sublime text
    </text>
    <text transform="matrix(1 0 0 1 124 43)">
      <tspan x="0" y="0" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
        body { 
      </tspan>
      <tspan x="0" y="7.2" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
           background: #54555C;
      </tspan>
      <tspan x="0" y="14.4" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
           margin: 0; 
      </tspan>
      <tspan x="0" y="21.6" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
        }
      </tspan>
    </text>
    <text transform="matrix(1 0 0 1 123.9998 76)">
      <tspan x="0" y="0" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
        .wrapper {
      </tspan>
      <tspan x="0" y="7.2" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
           margin: 0 auto;   
      </tspan>
      <tspan x="0" y="14.4" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
           padding: 20px;
      </tspan>
      <tspan x="0" y="21.6" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
           background: #D8CCD1 
      </tspan>
      <tspan x="0" y="28.8" fill="#D8CCD1" font-family="'Noteworthy-Light'" font-size="6">
        }
      </tspan>
    </text>
  </g>
</svg>