<footer class="footer">
	<h3>© 2018 Kalene Csefalvay ❤︎</h3>
	<ul class="social--footer">
		<li>
			<a href="https://www.twitter.com/kalenenc">{% include twitter-svg.svg %}</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/kalenenc">{% include linkedin-svg.svg %}</a>
		</li>
		<li>
			<a href="https://www.github.com/kalenenc">{% include github-svg.svg %}</a>

		</li>

		<li>
			<a href="https://www.codepen.io/kalenenc">
				{% include codepen-svg.svg %}
			</a>
			</li>
		<li>
			<a href="mailto:kalenenc@gmail.com">{% include contact-svg.svg %}</a>
			</li>
	</ul>

</footer>
