<header class="header">
	<h1>Kalene</h1>
	<div class="nav-icon cross">
		<div class="span"></div>
	</div>
	<ul>
		<a href="{{site.url}}/about"><li>About</li></a>
		<a href="{{site.url}}/portfolio"><li>Portfolio</li></a>
		<a href="{{site.url}}/doodles"><li>Doodles</li></a>
		<a href="{{site.url}}/blog"><li>Blog</li></a>
		<li>Resume</li>
		<a href="{{site.url}}/contact"><li>Contact</li></a>	</ul>
	{% include bee.html %}
	<p>Web designer, developer, doodler, busy bee, and lover of all things cute.</p>
	
</header>
