<header class="l-container">

    <div class="l-split header-left">
      <div class="header-left__content">
        <div class="l-crow">
          {% include crow-svg.svg %}
        </div>

        <h3 style="text-align: center; color: #2a9991;">Kalene Csefalvay</h3>
        <div class="header-desc">
          <h4>Web developer, designer, lifelong learner, bird lady.</h4>
          <h4>I fux with JavaScript.</h4>
          <h4>Sometimes I write about my coding journey and what I'm working on.</h4>
        </div>
      </div>

    </div>


    <div class="l-split header-right">




          <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <ul class="social--header">
            <li>{% include twitter-svg.svg %}</li>
            <li>{% include linkedin-svg.svg %}</li>
            <li>{% include codepen-svg.svg %}</li>
            <li>{% include contact-svg.svg %}</li>
          </ul>



    </div>




    </div>

</header>
