<!-- <svg class="star" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 248.3 244.5" enable-background="new 0 0 248.3 244.5" xml:space="preserve">
  <g id="Star">
    <polygon fill="#FDF491" points="124.2 0 145.7 66.8 205.2 29.5 178.7 94.6 248.3 104.2 186.2 137 233.3 189.1 164.7 174.4 167.3 244.5 124.2 189.1 81 244.5 83.6 174.4 15 189.1 62.1 137 0 104.2 69.6 94.6 43.1 29.5 102.6 66.8 "/>
  </g>
  <g id="Text" class="text">
    <text transform="matrix(1 0 0 1 63.19 122.2673)">
      <tspan x="0" y="0" fill="#636464" font-family="'Noteworthy-Bold'" font-size="23">
        More About 
      </tspan>
      <tspan x="41.6" y="27.6" fill="#636464" font-family="'Noteworthy-Bold'" font-size="23">
        Me!
      </tspan>
    </text>
  </g>
</svg> -->

<svg class="star" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 248.3 244.5" xml:space="preserve" enable-background="new 0 0 248.3 244.5"><style type="text/css">
  .st0{fill:#FDF491;}
  .st1{fill:#636464;}
  .st2{font-family:'Noteworthy-Bold';}
  .st3{font-size:20.8552px;}
</style>
  <g class="whole-star">
  <g id="Star">
    <polygon class="st0" points="124.2 0 145.7 66.8 205.2 29.5 178.7 94.6 248.3 104.2 186.2 137 233.3 189.1 164.7 174.4 167.3 244.5 124.2 189.1 81 244.5 83.6 174.4 15 189.1 62.1 137 0 104.2 69.6 94.6 43.1 29.5 102.6 66.8 "/>
    </g>
  <g id="Text"><text transform="matrix(0.9444 0 0 1 86.0564 110.9925)"><tspan x="0" y="0" class="st1 st2 st3">Click for </tspan><tspan x="-14.9" y="25" class="st1 st2 st3">More About </tspan><tspan x="22.8" y="50.1" class="st1 st2 st3">Me!</tspan></text>
    </g>
  </g>
  </svg>