// GRID LAYOUT - Canned layout styles that can be used anywhere
////////////////////////////////////////////////////////////////

.l-container {
  display: flex;
}

.l-split,
.l-full {
  flex: 1;
}


@media only screen and (max-width: 600px) {
  .l-container {
    display: block;
  }
}
