<!DOCTYPE html>
<html>
<head>
	<title>
		Kalene | Web Developer
	</title>
<!-- Meta Data -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta charset="UTF-8">
<meta name="description" content="Kalene's Website">
<meta name="keywords" content="JavaScript,CSS Animation, Web Developer">
<meta name="author" content="Kalene">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/site.css">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">

</head>
<body>

	{% include blog-nav.html %}

	<main class="l-container blog">
		<div class="l-full">


				{{content}}


		</div>
	</main>

		{% include footer.html %}

</body>
</html>
